
@{
    ViewBag.Title = "服务";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}

<div class="banner-section">
    <div class="container">
        <h2>服务</h2>
    </div>
</div>
<!---banner--->
<div class="content">
    <div class="services-section">
        <div class="container">
            <div class="services-grids">
                <div class="col-md-4 services-grid">
                    <img src="/QianTai/images/s9.jpg" class="img-responsive" alt="" />
                    <div class="services  hvr-bounce-to-right">
                        <h4>物业清单</h4>
                        <p>以业主的一切利益为主,帮助业主解决所有遇到的问题</p>
                    </div>
                </div>
                <div class="col-md-4 services-grid">
                    <img src="/QianTai/images/s10.jpg" class="img-responsive" alt="" />
                    <div class="services  hvr-bounce-to-right">
                        <h4>代理</h4>
                        <p>可以陪同客户一起去看房，打消客户对于信誉的考虑</p>
                    </div>
                </div>
                <div class="col-md-4 services-grid">
                    <img src="/QianTai/images/s11.jpg" class="img-responsive" alt="" />
                    <div class="services  hvr-bounce-to-right">
                        <h4>银行贷款</h4>
                        <p>为了避免客户的资金不充足的情况，能够通过公司信誉贷款</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main-service">
                <h3>主要服务</h3>
                <div class="service-grids">
                    <div class="col-md-3 service-grid hvr-bounce-to-bottom">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h4>找到房产</h4>
                        <p>将所有的房产，根据地方展现出来</p>
                    </div>
                    <div class="col-md-3 service-grid hvr-bounce-to-bottom">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        <h4>我们有代理</h4>
                        <p>帮助客户找到更合适的房产</p>

                    </div>
                    <div class="col-md-3 service-grid hvr-bounce-to-bottom">
                        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                        <h4>购买或出租的物业</h4>
                        <p>一切以方便客户为原则的物业</p>

                    </div>
                    <div class="col-md-3 service-grid hvr-bounce-to-bottom">
                        <i class="glyphicon glyphicon-cloud-download" aria-hidden="true"></i>
                        <h4>使用代理</h4>
                        <p>打消客户对信誉的考虑</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

