
@{
    ViewBag.Title = "常用问题解答";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}

<div class="banner-section">
    <div class="container">
        <h2>常见问题解答</h2>
    </div>
</div>
<!---banner--->
<div class="content">
    <div class="faq-section">
        <div class="container">
            <h3>经常问的问题</h3>
            <div class="test-list">
                <div class="tab1 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">信不过挂单的发布方怎么办？</li>
                    </ul>
                    <p>
                        我们平台上的房源信息都是根据过我们实地考察才能够挂单，房源的信息真实可靠
                    </p>
                    <p>
                        如果您担心发布方在和您谈资金的时候和平台上面索要的不同，您可以找我们的代理陪同您前去
                    </p>
                </div>
                <div class="tab2 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">什么是代理？</li>

                    </ul>
                    <p>
                        代理是由我们公司的工作人员全权负责，为了用户的权益所设立的一种职位。
                    </p>
                    <p>代理能够帮助您和用户或者发布方来交谈，帮助双方达成满意的条件</p>
                </div>
                <div class="tab3 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">什么是隐私政策？</li>

                    </ul>
                    <p>
                        我们平台在开发过程中考虑到用户的安全隐私，在注册之后会将密码加密
                    </p>
                    <p>
                        我们的工作人员也以用户或者发布方的隐私考虑，在实地考察和代理过程中不会透露发布方和用户的个人情况
                    </p>
                </div>
                <div class="tab4 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">什么是挂单等级和挂单天数？</li>
                    </ul>
                    <p>
                        我们的平台是没有中介费用的，不会和用户之间产生任何的交易行为，只是和发布方之间存在
                    </p>
                    <p>
                        我们完全凭借发布方的意愿来将房源信息推广，如果想卖的快，就选择更高的挂单等级和更多的挂单天数
                    </p>
                </div>
                <div class="tab5 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">如果对平台有意见怎么办？</li>
                    </ul>
                    <p>
                        在我们的导航栏上有联系我们，您可以将您的邮箱和手机号还有您的意见写下来
                    </p>
                    <p>
                        在您将意见反馈给我们之后，我们会根据您的意见酌情考虑去更改您发现的这些问题
                    </p>
                </div>
                <div class="tab6 wow bounceIn" data-wow-delay="0.4s">
                    <ul>
                        <li><span> </span></li>
                        <li class="text">房产广告会不会有假？</li>
                    </ul>
                    <p>
                        房产广告完全可以放心，都是经由公司的工作人员认证的房产公司所发布的
                    </p>
                    <p>如果您有任何疑问可以拨打我们的热线电话，我们的工作人员会一一为您解答</p>

                </div>
            </div>
            <!-- script for tabs -->
            <script>
                $(document).ready(function () {
                    $(".tab1 p").hide();
                    $(".tab2 p").hide();
                    $(".tab3 p").hide();
                    $(".tab4 p").hide();
                    $(".tab5 p").hide();
                    $(".tab6 p").hide();
                    $(".tab1 ul").click(function () {
                        $(".tab1 p").slideToggle(300);
                        $(".tab2 p").hide();
                        $(".tab3 p").hide();
                        $(".tab4 p").hide();
                        $(".tab5 p").hide();
                        $(".tab6 p").hide();
                    })
                    $(".tab2 ul").click(function () {
                        $(".tab2 p").slideToggle(300);
                        $(".tab1 p").hide();
                        $(".tab3 p").hide();
                        $(".tab4 p").hide();
                        $(".tab5 p").hide();
                        $(".tab6 p").hide();
                    })
                    $(".tab3 ul").click(function () {
                        $(".tab3 p").slideToggle(300);
                        $(".tab4 p").hide();
                        $(".tab2 p").hide();
                        $(".tab1 p").hide();
                        $(".tab5 p").hide();
                        $(".tab6 p").hide();
                    })
                    $(".tab4 ul").click(function () {
                        $(".tab4 p").slideToggle(300);
                        $(".tab3 p").hide();
                        $(".tab2 p").hide();
                        $(".tab1 p").hide();
                        $(".tab5 p").hide();
                        $(".tab6 p").hide();
                    })
                    $(".tab5 ul").click(function () {
                        $(".tab5 p").slideToggle(300);
                        $(".tab3 p").hide();
                        $(".tab2 p").hide();
                        $(".tab1 p").hide();
                        $(".tab4 p").hide();
                        $(".tab6 p").hide();
                    })
                    $(".tab6 ul").click(function () {
                        $(".tab6 p").slideToggle(300);
                        $(".tab3 p").hide();
                        $(".tab2 p").hide();
                        $(".tab1 p").hide();
                        $(".tab5 p").hide();
                        $(".tab4 p").hide();
                    })
                });
            </script>
            <!-- script for tabs -->
        </div>
    </div>
</div>


