
@{
    ViewBag.Title = "TiaoIndex";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}

<div class="banner-section">
    <div class="container">
        <h2>使用条款</h2>
    </div>
</div>
<!---banner--->
<div class="content">
    <div class="terms">
        <div class="container">
            <h4>介绍</h4>
            <p>非独家代理就是这个区域内有好几家代理,人家可以从你这拿,也可以从别人那拿,这不需要平衡的,如果是独家代理,根本就没所谓的平衡</p>
            <h4>个人信息</h4>
            <p>非独家代理就是这个区域内有好几家代理,人家可以从你这拿,也可以从别人那拿,这不需要平衡的,如果是独家代理,根本就没所谓的平衡</p>
            <p>但是我必须向你们解释一下这种谴责快乐和赞美痛苦的错误想法是如何诞生的，我会给你一个完整的系统说明，并阐述真理的伟大探险家，人类的主人 - 建构者的实际教导。幸福。没有人拒绝，不喜欢或避免快乐本身。</p>
            <h4>一般信息</h4>
            <p>另一方面，我们以正义的愤慨谴责，不喜欢那些被当下快乐的魅力所迷惑和挫败的人，他们被欲望所蒙蔽，他们无法预见必然会产生的痛苦和麻烦; 同等的责任属于那些因意志的软弱而失职的人，这就像通过勉强度过辛劳和痛苦所说的那样。这些案例非常简单，易于区分。在一个自由的时刻，当我们选择的权力不受约束，当没有什么能阻止我们能够做到我们最喜欢的事情时，每一种乐趣都会受到欢迎，每一次痛苦都会被避免。但在某些情况下，由于责任主张或商业义务，经常​​会出现必须拒绝享受快乐和接受烦恼的情况。</p>
            <ul class="terms-start">
                <li><a href="#"><i></i>与流行的看法相反，Lorem Ipsum不仅仅是随机文本。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum的段落有很多变化。</a></li>
                <li><a href="#"><i></i>一个长期存在的事实是读者会分心。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum只是打印的虚拟文本。</a></li>
                <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
                <li><a href="#"><i></i>与流行的看法相反，Lorem Ipsum不仅仅是随机文本。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum的段落有很多变化。</a></li>
                <li><a href="#"><i></i>一个长期存在的事实是读者会分心。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum只是打印的虚拟文本。</a></li>
                <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
                <li><a href="#"><i></i>与流行的看法相反，Lorem Ipsum不仅仅是随机文本。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum的段落有很多变化。</a></li>
                <li><a href="#"><i></i>一个长期存在的事实是读者会分心。</a></li>
                <li><a href="#"><i></i>Lorem Ipsum只是打印的虚拟文本。</a></li>
                <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">

                        <div class="login-right">
                            <form>
                                <h3>登录</h3>
                                <input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" required="">
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                <h4><a href="#">忘记密码</a> / <a href="#">创建新密码</a></h4>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>记住我</label>
                                </div>
                                <input type="submit" value="Login Now">
                            </form>
                        </div>

                    </div>
                    <p>通过在登陆后，您同意我们的 <a href="#">条款</a> 和 <a href="#">条件</a> 以及 <a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<!-- Register -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right">
                            <form>
                                <h3>注册</h3>
                                <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                <input type="text" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                                <input type="text" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                <input type="submit" value="Register Now">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>通过在登陆后，您同意我们的 <a href="#">条款</a> 和 <a href="#">条件</a> 以及 <a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
