
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}

<div class="banner-section">
    <div class="container">
        <h2>关于我们</h2>
    </div>
</div>
<!---banner--->
<div class="content">
    <div class="terms">
        <div class="container">
            <h4>项目介绍</h4>
            <p>易家，我们公司自主研发的一款为广大用户服务的房屋推广平台，我们的平台没有高额的中介费用，能够让更多的外出打工的人员在我们的平台找到适合自己的“家”</p>
            <h4>用户介绍</h4>
            <p>普通用户：可以看房，挑选适合自己的房屋，同时也可以发布房源，出售或者出租</p>
            <p>房地产商：通过工作人员的确认给这类用户开通权限，能够将自己公司的楼盘信息发布在我们的平台上，也为广大的用户提供了更好的体验，不仅可以买卖二手房，出租闲置的房屋，更能够选择合适的楼房</p>
            <h4>一般信息</h4>
            <p>为了广大用户的方便使用，我们也为用户提供了微信小程序端的，方便用户随时随地的使用我们的软件进行看房，确认信息</p>
            <ul class="terms-start">
                <li><a href="#"><i></i>出售，根据用户自己的意愿，进行挂单等级和挂单天数的选择，发布房源信息</a></li>
                <li><a href="#"><i></i>出租，根据用户自己的意愿，填写房源的详细信息</a></li>
                <li><a href="#"><i></i>房屋查询，根据用户自己想要的条件，进行房屋信息的查询，找到适合自己的房屋</a></li>
                <li><a href="#"><i></i>隐私政策，让用户放心的使用我们的平台，对用户的各种隐私进行保护，防止泄露</a></li>
                <li><a href="#"><i></i>关于我们，让用户更加了解我们公司，知道我们公司的服务宗旨</a></li>
                <li><a href="#"><i></i>咨询代理，为用户的利益着想，提供代理服务，和用户一起去看房，谈条件</a></li>
                <li><a href="#"><i></i>发布广告，通过房地产公司的工作人员来本公司确认，为用户提供发布广告的功能，将房产公司的楼盘发布在我们的平台上，增加业绩</a></li>
                <li><a href="#"><i></i>楼盘广告推广，用户可以看到房产公司发布的所有的楼盘信息，来选择适合自己的楼盘</a></li>
                <li><a href="#"><i></i>微信小程序，为用户提供了看房功能和收藏功能，方便用户随时随地的使用</a></li>
                <li><a href="#"><i></i>看房，用户通过在PC端注册信息登录，然后找寻适合自己的房屋</a></li>
                <li><a href="#"><i></i>收藏，用户看到自己喜欢的，可以先进行收藏，然后几个房源信息一块比较</a></li>
                <li><a href="#"><i></i>图库，我们的平台拥有一个专门的图库，用户可以根据自己的喜好来进行几列排布，会看到所有的房源信息的图片，进行更仔细的观察</a></li>
                <li><a href="#"><i></i>除了楼盘广告推广页面，还在其他的出售、出租和详情页面同样有楼盘推广，给予我们的合作方最大的便利</a></li>
                <li><a href="#"><i></i>本公司的工作人员会根据实地考察的情况在后台对用户发布的信息进行相关的操作</a></li>
                <li><a href="#"><i></i>专门为用户提供了地图的功能，而且是两种地图功能，方便用户根据房屋的周围情况来选择</a></li>
            </ul>
        </div>
    </div>
</div>
