
@{
    ViewBag.Title = "ZiDaiIndex";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}

<div class="content">
    <div class="agent-section">
        <div class="container">
            <div class="agent-grids">
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a2.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>约翰</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="johnnguyen.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a3.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>西德尼</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机号：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="sydneytaft.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="agent-grids1">
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a4.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>迈克尔</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机号：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="michaelfeng.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a5.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>思泰</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机号：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="stacybarron.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="agent-grids">
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a6.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>亚当</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机号：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="adamscooter.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 agent-grid">
                    <div class="agent-left">
                        <img src="/QianTai/images/a7.jpg" class="img-responsive" alt="/">
                    </div>
                    <div class="agent-right">
                        <h4>柔波</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> 电话：0041-456-3692</li>
                            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> 手机号：0200-123-4567</li>
                            <li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> 传真：0091-789-456100</li>
                        </ul>
                        <a href="robbhatman.html" class="button3 hvr-shutter-out-horizontal">知道更多</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">

                        <div class="login-right">
                            <form>
                                <h3>登录</h3>
                                <input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" required="">
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                <h4><a href="#">忘记密码</a> / <a href="#">创建新密码</a></h4>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>记住我</label>
                                </div>
                                <input type="submit" value="Login Now">
                            </form>
                        </div>

                    </div>
                    <p>通过在登陆后，您同意我们的 <a href="#">条款</a> 和 <a href="#">条件</a> 以及 <a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<!-- Register -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right">
                            <form>
                                <h3>注册</h3>
                                <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                <input type="text" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                                <input type="text" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                <input type="submit" value="Register Now">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>通过在登陆后，您同意我们的 <a href="#">条款</a> 和 <a href="#">条件</a> 以及 <a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

