
@{
    ViewBag.Title = "四列显示";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}
<div class="banner-section">
    <div class="container">
        <h2>图库</h2>
    </div>
</div>
<!---banner--->
<div class="content">
    <div class="gallery-section">
        <div class="container">
            <div class="gallery-grids">
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s4.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s4.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s5.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s5.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s6.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s6.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s7.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s7.jpg" class="img-responsive" alt="/">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="gallery-grids galry">
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s1.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s1.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s2.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s2.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s3.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s3.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s4.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s4.jpg" class="img-responsive" alt="/">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="gallery-grids galry">
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s7.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s7.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s6.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s6.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s1.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s1.jpg" class="img-responsive" alt="/">
                </div>
                <div class="col-md-3 gallery-grid">
                    <a href="/QianTai/images/s5.jpg" class="swipebox"><span class="rollover1"> </span></a>
                    <img src="/QianTai/images/s5.jpg" class="img-responsive" alt="/">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

