<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/QianTai/css/bootstrap.css" rel="stylesheet" />
    <link href="~/QianTai/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="~/Scripts/JQuery/js/jquery-2.1.1.js"></script>
    <script src="~/QianTai/js/bootstrap.js"></script>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="~/QianTai/js/responsiveslides.min.js"></script>
    <link href="~/QianTai/css/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/QianTai/css/swipebox.css">
    <link href="~/Scripts/css/Buttons.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/Jquery.form.js"></script>
    <link href="~/Scripts/JQuery/css/cropper.min.css" rel="stylesheet" />
    <link href="~/Scripts/JQuery/css/ImgCropping.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/js/cropper.min.js"></script>
    <script src="~/QianTai/js/owl.carousel.js"></script>
   
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="~/QianTai/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <script src="~/QianTai/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/QianTai/css/flexslider.css" type="text/css" media="screen" />
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>
    <style>
        input[type="radio"] + label::before {
            content: "\a0"; /*不换行空格*/
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            width: 1em;
            height: 1em;
            margin-right: .4em;
            border-radius: 50%;
            border: 1px solid #2DA9E1;
            text-indent: .15em;
            line-height: 1;
        }
        input[type="radio"]:checked + label::before {
            background-color: #2DA9E1;
            background-clip: content-box;
            padding: .2em;
        }
        input[type="radio"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
        }

        #Upload {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }

            #Upload input {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
            }

            #Upload:hover {
                background: #AADFFD;
                border-color: #78C3F3;
                color: #004974;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="header-section">
        <div class="container">
            <div class="head-top" style="position:fixed;background:#333D47;z-index:9999;width:75%;top:0 ">
                <div class="email">
                    <ul>

                        @if (Session["Account"] is null)
                        {
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
                            <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal1">注册</a></li>
                        }
                        else
                        {
                            <li><input id="UserId" type="hidden" name="HomeInfo_UserId" value="@Session["Account_Id"]" /></li>
                            <li class="fa fa-user-circle" aria-hidden="true"> 手机号：@Session["Account"]</li>
                            <li><i class="fa  fa-plane" aria-hidden="true"></i><a href="#" onclick="Logout()">注销</a></li>
                        }
                        <li><span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>热线电话：1-999-4563-555</span></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <nav class="navbar navbar-default">
                <!---Brand and toggle get grouped for better mobile display--->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <h1><a href="index.html"><span>易家房屋</span></a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Main/MainIndex">家 <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房屋信息<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/HomeInfo/ChuZuIndex">出租的房屋</a></li>
                                <li><a href="/HomeInfo/ChuShouIndex">出售的房屋</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#IMai">我要卖房</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#IZu">我要出租</a></li>
                            </ul>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">指南<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Main/FuWuIndex">服务</a></li>
                                <li><a href="/Main/AboutIndex">关于我们</a></li>
                                <li><a href="/Main/ZiDaiIndex">咨询代理</a></li>
                                <li><a href="/Main/JieDaIndex">常见问题解答</a></li>
                                <li><a href="/Main/TiaoIndex">使用条款</a></li>
                                <li><a href="/Main/YinSiIndex">隐私政策</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图片展示<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/HomeInfo/TwoIndex">2列展示</a></li>
                                <li><a href="/HomeInfo/ThreeIndex">3列展示</a></li>
                                <li><a href="/HomeInfo/FourIndex">4列展示</a></li>
                            </ul>
                        </li>
                        <li><a href="/Developers_Apply_For/QianTaiIndex">广告推广</a></li>
                        <!--<li><a href="codes.html">Codes</a></li>-->
                        <li><a href="/Main/LianXiIndex">联系我们</a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </nav>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>关于房屋</h4>
                    <p>选择我们，让客户更加安心，我们更容易产生家的感觉</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>最近的帖子</h4>
                    <ul>
                        <li><a href="#">上海紫竹苑</a></li>
                        <li><a href="#">上海正商地产</a></li>
                        <li><a href="#">上海航远地产</a></li>
                        <li><a href="#">如何更好的选择房屋</a></li>
                        <li><a href="#">住的好才安心</a></li>
                        <li><a href="#">没有什么比家更好</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>有用的链接</h4>
                    <ul>
                        <li><a href="/Main/TiaoIndex">使用条款</a></li>
                        <li><a href="/Main/YinSiIndex">隐私政策</a></li>
                        <li><a href="/Main/LianXiIndex">联系我们</a></li>
                        <li><a href="/Main/ZiDaiIndex">咨询代理</a></li>
                        <li><a href="/Main/">广告推广</a></li>
                        <li><a href="/Main/JieDaIndex">常见问题解答</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>保持联系</h4>
                    <p>奉贤区海湾镇五四公路3389号</p>
                    <p>易家房屋中介</p>
                    <p>手机号:16621225243</p>
                    <p>电话: +1 234 567 890</p>
                    <p>微信号: 9888998</p>
                    <p>邮件: <a href="mailto:example@mail.com"> example@mail.com</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    @* 登录 *@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                <form method="post">
                                    <h3>登录</h3>
                                    <input id="email" type="text" placeholder="请输入手机号。。。" required="">
                                    <input id="password" type="password" placeholder="请输入密码。。。" required="">
                                    <h4><a href="#">忘记密码</a></h4>
                                    <input type="button" class="button button-glow button-rounded button-highlight button-large" style="width:435px;" value="现在登录" onclick="Login()" />
                                </form>
                            </div>

                        </div>
                        <p>通过在登陆后，您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 注册 *@
    <!-- //login -->
    <!-- Register -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-right">
                                <form action="/Users/Register" method="post" enctype="multipart/form-data">
                                    <h3>注册</h3>


                                    <button id="replaceImg" class="l-btn">选择头像</button>
                                    <div style="width: 320px;height: 320px;border: solid 1px #555;padding: 5px;margin-top: 10px; border-radius:20px;">
                                        <img id="finalImg" src="" name="img" width="100%" style="border-radius:20px;">
                                    </div>


                                    <!--图片裁剪框 start-->
                                    <div style="display: none" class="tailoring-container">
                                        <div class="black-cloth" onclick="closeTailor(this)"></div>
                                        <div class="tailoring-content">
                                            <div class="tailoring-content-one">
                                                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                                                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                                                    选择图片
                                                </label>
                                                <div class="close-tailoring" onclick="closeTailor(this)">×</div>
                                            </div>
                                            <div class="tailoring-content-two">
                                                <div class="tailoring-box-parcel">
                                                    <img id="tailoringImg">
                                                </div>
                                                <div class="preview-box-parcel">
                                                    <p>图片预览：</p>
                                                    <div class="square previewImg"></div>
                                                    <div class="circular previewImg"></div>
                                                </div>
                                            </div>
                                            <div class="tailoring-content-three">
                                                <button class="l-btn cropper-reset-btn">复位</button>
                                                <button class="l-btn cropper-rotate-btn">旋转</button>
                                                <button class="l-btn cropper-scaleX-btn">换向</button>
                                                <button class="l-btn sureCut" id="sureCut">确定</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--图片裁剪框 end-->








                                    <input id="Phone" type="text" name="User_Phone" placeholder="请输入手机号。。。" onblur="CheckPhone()" required="" />
                                    <input id="Pwd" type="password" name="User_Pwd" placeholder="请输入密码。。。" required="" />
                                    <input id="CfmPwd" type="password" placeholder="请确认密码。。。" required="" />


                                    <input id="regSub" type="submit" value="现在注册">
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>通过在登陆后，您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="IMai" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                @using (Html.BeginForm("MaiFang", "HomeInfo",null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <h3>我要卖房</h3>
                                    <div>
                                        <input type="file" id="Upload" name="HomeInfo_PhotoPath" value="上传图片" />
                                    </div>
                                    <input type="text" name="HomeInfo_PosiTion" value="具体地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体地址';}" required="">
                                    <input type="text" name="HomeInfo_Price" value="金额" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写金额';}" required="">
                                    <input type="text" name="HomeInfo_Area" value="房间面积" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写具体的房间面积';}" required="">
                                    <div>
                                        <span style="font-weight:700">房屋类型</span>
                                        <select name="HomeInfo_Type" class="sel2" style="width:375px;height:45px">
                                            <option value="请选择">请选择</option>
                                            <option value="住宅">住宅</option>
                                            <option value="别墅">别墅</option>
                                            <option value="商业">商业</option>
                                            <option value="写字楼">写字楼</option>
                                            <option value="单元楼">单元楼</option>
                                        </select>
                                    </div>
                                    <div>
                                        <span style="font-weight:700">卧室选择</span>
                                        <select name="HomeInfo_HouseType" class="sel3" style="width:375px;height:45px">
                                            <option value="请选择">请选择</option>
                                            <option value="一室">一室</option>
                                            <option value="二室">二室</option>
                                            <option value="三室">三室</option>
                                            <option value="四室">四室</option>
                                            <option value="五室及以上">五室及以上</option>
                                        </select>
                                    </div>
                                    <div class="female" style="margin-top:20px">
                                        <label>推荐挂单等级</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="female" class="rdoLev" name="LeavelCost_Level" value="低级" />
                                        <label for="female">低级</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="fmale" class="rdoLev" name="LeavelCost_Level" value="高级" />
                                        <label for="fmale">高级</label>
                                    </div>
                                    <input type="text" name="DayCost_Money" value="挂单天数" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体的挂单天数';}" required="">
                                    <input type="text" name="HomeInfo_Contact" value="联系人" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系人';}" required="">
                                    <input type="text" name="HomeInfo_Phone" value="联系方式" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系方式';}" required="">
                                    <input type="submit" id="Save" value="发布" onclick="CheckUserId()">
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="IZu" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                @using (Html.BeginForm("ZuFang", "HomeInfo", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <h3>我要出租</h3>
                                    <div>
                                        <input type="file" id="Upload" name="HomeInfo_PhotoPath" value="上传图片" />
                                    </div>
                                    <input type="text" name="HomeInfo_PosiTion" value="具体地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体地址';}" required="">
                                    <input type="text" name="HomeInfo_AvgPrice" value="每月多少钱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写金额';}" required="">
                                    <input type="text" name="HomeInfo_Area" value="房间面积" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写具体的房间面积';}" required="">
                                    <div>
                                        <span style="font-weight:700">房屋类型</span>
                                        <select name="HomeInfo_Type" class="sel2" style="width:375px;height:45px">
                                            <option value="请选择">请选择</option>
                                            <option value="住宅">住宅</option>
                                            <option value="别墅">别墅</option>
                                            <option value="商业">商业</option>
                                            <option value="写字楼">写字楼</option>
                                            <option value="单元楼">单元楼</option>
                                        </select>
                                    </div>
                                    <div>
                                        <span style="font-weight:700">卧室选择</span>
                                        <select name="HomeInfo_HouseType" class="sel3" style="width:375px;height:45px">
                                            <option value="请选择">请选择</option>
                                            <option value="一室">一室</option>
                                            <option value="二室">二室</option>
                                            <option value="三室">三室</option>
                                            <option value="四室">四室</option>
                                            <option value="五室及以上">五室及以上</option>
                                        </select>
                                    </div>
                                    <div class="female" style="margin-top:20px">
                                        <label>推荐挂单等级</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="femle" class="rdoLev" name="LeavelCost_Level" value="低级" />
                                        <label for="femle">低级</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="fmle" class="rdoLev" name="LeavelCost_Level" value="高级" />
                                        <label for="fmle">高级</label>
                                    </div>
                                    <input type="text" name="DayCost_Money" value="挂单天数" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体的挂单天数';}" required="">
                                    <input type="text" name="HomeInfo_Contact" value="联系人" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系人';}" required="">
                                    <input type="text" name="HomeInfo_Phone" value="联系方式" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系方式';}" required="">
                                    <input type="submit" id="SaveZu" onclick="CheckId()" value="发布">
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script>
    //登录
    function Login() {
        var email = $("#email").val();
        var password = $("#password").val();
        $.ajax({
            url: "/Users/Login",
            type: "post",
            data: { email: email, password: password },
            async:false,
            success: function (data) {
                if (data > 0) {
                    location.reload();
                }
                else {
                    alert("手机号或密码有误！");
                }
            },
            error: function () {
                alert("出错了！");
            }
        })
    }

    // 注销
    function Logout() {
        $.ajax({
            url: "/Users/Logout",
            type: "get",
            dataType: "text",
            success: function (data) {
                if (data > 0) {
                    location.reload();
                }
                else {
                    alert("注销失败！");
                }
            },
            error: function () {
                alert("出错了！");
            }
        })
    }




    // 上传图片
    //弹出框水平垂直居中
    //(window.onresize = function () {
    //    var win_height = $("#myModal1").height();
    //    var win_width = $("#myModal1").width();
    //    //if (win_width <= 768) {
    //    //    $(".tailoring-content").css({
    //    //        "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
    //    //        "left": 0
    //    //    });
    //    //} else {
    //    //    $(".tailoring-content").css({
    //    //        "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
    //    //        "left": (win_width - $(".tailoring-content").outerWidth()) / 2
    //    //    });
    //    //}
    //})();

    //弹出图片裁剪框
    $("#replaceImg").on("click", function () {
        $(".tailoring-container").toggle();
    });
    //图像上传
    function selectImg(file) {
        // 文件为空，返回
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc, false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }
    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1 / 1,//默认比例
        preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        movable: true,  //是否允许移动剪裁框
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: false,  //是否允许缩放图片大小
        mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        crop: function (e) {

            // 输出结果数据裁剪图像。
        }
    });
    //旋转
    $(".cropper-rotate-btn").on("click", function () {
        $('#tailoringImg').cropper("rotate", 45);
    });
    //复位
    $(".cropper-reset-btn").on("click", function () {
        $('#tailoringImg').cropper("reset");
    });
    //换向
    var flagX = true;
    $(".cropper-scaleX-btn").on("click", function () {
        if (flagX) {
            $('#tailoringImg').cropper("scaleX", -1);
            flagX = false;
        } else {
            $('#tailoringImg').cropper("scaleX", 1);
            flagX = true;
        }
        flagX != flagX;
    });

    //裁剪后的处理
    $("#sureCut").on("click", function () {
        if ($("#tailoringImg").attr("src") == null) {
            return false;
        } else {
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            $("#finalImg").prop("src", base64url);//显示为图片的形式
            uploadFile(base64url);     // 编码后上传服务器
            //关闭裁剪框
            closeTailor();
        }
    });
    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }

    function uploadFile(file) {
        $.ajax({
            url: "/Users/UploadImg",
            type: "post",
            data: { file: file },
            async: true,
            success: function (data) {
               
            }
        })
    }

    function CheckPhone() {
        var phone = $("#Phone").val();
        $.ajax({
            url: "/Users/CheckPhoneExists",
            type: "post",
            data: { phone: phone },
            async: true,
            success: function (data) {
                if (data > 0) {
                    alert("手机号已注册！");
                    $("#regSub").attr({ "disabled": "disabled" });          // 按钮为禁用
                }
                else {
                    $("#regSub").removeAttr("disabled");          // 按钮为禁用
                }
            }
        });
    }
    function CheckUserId() {
        var Id = $("#UserId").val()
        if (Id == null) {
            alert("请先登录");
            $("#Save").attr({ "disabled": "disabled" });
        }
        else {
            $("#Save").removeAttr("disabled");
        }
    }
    function CheckId() {
        var Id = $("#UserId").val()
        if (Id == null) {
            alert("请先登录");
            $("#SaveZu").attr({ "disabled": "disabled" });
        }
        else {
            $("#SaveZu").removeAttr("disabled");
        }
    }

</script>