<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/QianTai/css/bootstrap.css" rel="stylesheet" />
    <link href="~/QianTai/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script src="~/QianTai/js/jquery-1.11.1.min.js"></script>
    <script src="~/QianTai/js/bootstrap.js"></script>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://~/QianTai/fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="~/QianTai/js/responsiveslides.min.js"></script>
    <link href="~/QianTai/css/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/QianTai/css/swipebox.css">
    <script src="~/QianTai/js/owl.carousel.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="~/QianTai/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <script src="~/QianTai/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/QianTai/css/flexslider.css" type="text/css" media="screen" />
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    
        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: false,
                    navigationText: false,
                    pagination: true,
                });
            });
    </script>
</head>
<body>
    <div class="header-section">
        <div class="container">
            <div class="head-top" style="position:fixed;background:#333D47;z-index:9999;width:75%;top:0 ">
                <div class="email">
                    <ul>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
                        <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal1">注册</a></li>
                        <li><span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>热线电话：1-999-4563-555</span></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <nav class="navbar navbar-default">
                <!---Brand and toggle get grouped for better mobile display--->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <h1><a href="index.html"><span>易家房屋</span></a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Main/MainIndex">家 <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房屋信息<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/HomeInfo/ChuZuIndex">出租的房屋</a></li>
                                <li><a href="/HomeInfo/ChuShouIndex">出售的房屋</a></li>
                                <li><a href="/HomeInfo/SelectIndex">搜索房屋</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#IMai">我要卖房</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#IZu">我要出租</a></li>
                            </ul>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">指南<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Main/FuWuIndex">服务</a></li>
                                <li><a href="/Main/AboutIndex">关于我们</a></li>
                                <li><a href="/Main/ZiDaiIndex">咨询代理</a></li>
                                <li><a href="/Main/JieDaIndex">常见问题解答</a></li>
                                <li><a href="/Main/TiaoIndex">使用条款</a></li>
                                <li><a href="/Main/YinSiIndex">隐私政策</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图片展示<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/HomeInfo/TwoIndex">2列展示</a></li>
                                <li><a href="/HomeInfo/ThreeIndex">3列展示</a></li>
                                <li><a href="/HomeInfo/FourIndex">4列展示</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">广告推广</a></li>
                        <!--<li><a href="codes.html">Codes</a></li>-->
                        <li><a href="/Main/LianXiIndex">联系我们</a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </nav>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>关于房屋</h4>
                    <p>选择我们，让客户更加安心，我们更容易产生家的感觉</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>最近的帖子</h4>
                    <ul>
                        <li><a href="#">上海紫竹苑</a></li>
                        <li><a href="#">上海正商地产</a></li>
                        <li><a href="#">上海航远地产</a></li>
                        <li><a href="#">如何更好的选择房屋</a></li>
                        <li><a href="#">住的好才安心</a></li>
                        <li><a href="#">没有什么比家更好</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>有用的链接</h4>
                    <ul>
                        <li><a href="/Main/TiaoIndex">使用条款</a></li>
                        <li><a href="/Main/YinSiIndex">隐私政策</a></li>
                        <li><a href="/Main/LianXiIndex">联系我们</a></li>
                        <li><a href="/Main/ZiDaiIndex">咨询代理</a></li>
                        <li><a href="/Main/">广告推广</a></li>
                        <li><a href="/Main/JieDaIndex">常见问题解答</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>保持联系</h4>
                    <p>奉贤区海湾镇五四公路3389号</p>
                    <p>易家房屋中介</p>
                    <p>手机号:16621225243</p>
                    <p>电话: +1 234 567 890</p>
                    <p>微信号: 9888998</p>
                    <p>邮件: <a href="mailto:example@mail.com"> example@mail.com</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                <form>
                                    <h3>登录</h3>
                                    <input type="text" value="你的邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你的邮箱';}" required="">
                                    <input type="password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}" required="">
                                    <h4><a href="#">忘记密码</a> / <a href="#">创建新密码</a></h4>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>记住我</label>
                                    </div>
                                    <input type="submit" value="现在登录">
                                </form>
                            </div>

                        </div>
                        <p>通过在登陆后，您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- Register -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-right">
                                <form>
                                    <h3>注册</h3>
                                    <input type="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" required="">
                                    <input type="text" value="手机号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '手机号';}" required="">
                                    <input type="text" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}" required="">
                                    <input type="password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}" required="">

                                    <input type="submit" value="现在注册">
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>通过在登陆后，您同意我们的<a href="#">条款</a>和<a href="#">条件</a>以及<a href="#">隐私政策</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="IMai" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                <form>
                                    <h3>我要卖房</h3>
                                    <input type="text" value="具体地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体地址';}" required="">
                                    <input type="text" value="金额" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写';}" required="">

                                    <input type="submit" value="发布">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="IZu" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">

                            <div class="login-right">
                                <form>
                                    <h3>我要出租</h3>
                                    <input type="text" value="具体地址" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '具体地址';}" required="">
                                    <input type="text" value="金额" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请填写金额';}" required="">

                                    <input type="submit" value="发布">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
