@model IEnumerable<YJMVC.Models.HomeInfoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<div style="border:1px solid white; border-radius:20px; width:1400px;height:40px;font-family:'仿宋'; padding-left:20px;padding-top:10px; margin-left:90px; margin-bottom:-80px; background-color:white">
    <p>
        <h3>
            广告推广列表
        </h3>
    </p>
</div>

<div style="width:1400px; height:700px; border-radius:15px; margin-left:90px; margin-top:100px; padding-left:20px;padding-top:40px; background-color:white">

    <table class="layui-table" lay-even="" lay-skin="nob">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
            <tr>
                <th>
                    小区名称
                </th>
                <th>
                    详情介绍
                </th>
                <th>
                    图片
                </th>
                <th>
                    位置
                </th>
                <th>
                    联系人
                </th>
                <th>
                    手机号
                </th>
                <th>
                    类型
                </th>
            </tr>
        </thead>
        <tbody id="th">

        </tbody>
    </table>

    <div id="demo1" style="padding-left:50px;"></div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $().ready(function () {
        layui.use(['laypage'], function () {
            var laypage = layui.laypage;
            $.ajax({
                url: "/Developers_Apply_For/ShowGuangGao",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#th").empty();
                    //总页数大于页码总数
                    for (var i = 0; i < data.length; i++) {
                        laypage.render({
                            elem: 'demo1'          //分页控件id
                            , count: data.length//数据总数
                            , limit: 5
                            , jump: function (obj) {
                                //模拟渲染
                                document.getElementById('th').innerHTML = function () {      //th 存放数据的容器
                                    var arr = []
                                        , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                    layui.each(thisData, function (index, item) {         //ajax成功返回的数据为item
                                        var type = "";
                                        if (item.HomeInfo_InfoType == 1) {
                                            type = "出售";
                                        }
                                        else if (item.HomeInfo_InfoType == 2) {
                                            type = "出租";
                                        }
                                        else {
                                            type = "楼盘";
                                        }
                                        var photo = "/Images/" + item.HomeInfo_PhotoPath;
                                        arr.push("<tr><td>" + item.HomeInfo_Xq_Name + "</td><td>" + item.HomeInfo_IntroDuce + "</td><td><img src='"+photo+"' alt='房屋图片' style='width:152px;height:83px;' /> </td><td>" + item.HomeInfo_PosiTion + "</td><td>" + item.HomeInfo_Contact + "</td><td>" + item.HomeInfo_Phone + "</td><td>" + type + "</td></tr>");         //里面写每行数据  如<tr><td>"+item.Id+"</td></tr>
                                    });
                                    return arr.join('');
                                }();
                            }
                        });
                    }
                }
            })

        });
    });
</script>